.nav{
    display: flex;
    justify-content: space-between;
}
.nav h1{
    color: rgb(36, 230, 123);
    margin: 0;
    font-size: 40px;
}
.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    padding-left: 15px;
    padding-top: 15px;
}
.nav li a {
    text-decoration: none;
    color: rgb(36, 230, 123);
 }
 .nav .nav-search{
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.nav .nav-search input{
flex: 1;
 color: rgb(36, 230, 123);
 border: 1px solid rgb(36, 230, 123);
 height: 39px;
 border-right: 0px;
}

.nav .nav-search button{
    color:rgb(36, 230, 123);
    border: 1px solid rgb(36, 230, 123);
    height: 39px;
    border-left: 0px;
}
h1 a{
    color:rgb(36, 230, 123) ;
    text-decoration: none;
}
