.search-item{
margin: 25px auto;
width: 800px;
border: 1px solid #ddd;
}
.search-item h6{
    font-size: 25px;
    color: chartreuse;
}
.search-item p{
    margin: 5px;
}

.search-item span{
    margin-right: 10px;
}
img{
    width: 100%;
    object-fit: contain;
    height: 150px;
}